# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio specific
.vs/
.vscode/
*.njsproj
*.sln.ide
*.sln.vuo
*.suo
*.tsserver
*.WebEssentials2015.js
*.webextension
*.csproj.user
*.vcxproj.filters
*.vcxproj.user
*.vcxproj
*.vbproj.user
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.obj.enc
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp.rsp
*.log
*.vsix
*.vsixlangpack
*.vsixmanifest
*.vspscc
*.vssscc
.builds
.editorconfig
.ntvs_analysis.dat